{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<!-- Latest Posts -->
<main class="posts-listing col-lg-8">
    <div class="container">
        <div class="row">
            <!-- post -->
            {% for post in posts %}
            <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{% url 'blog-view' post.slug  %}"><img src="{{ post.image.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        <div class="date meta-last">{{ post.created_at|date:"d M | Y"}}</div>
                        <!--                        <div class="category"><a href="#">Business</a></div>-->
                    </div><a href="{% url 'blog-view' post.slug  %}">
                    <h3 class="h4">{{ post.title }}</h3></a>
                    <p class="text-muted">{{ post.content|truncatewords:30}}</p>
                    <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                        <div class="avatar"><img src="{{ post.author.profile.image.url }}" alt="..." class="img-fluid"></div>
                        <div class="title"><span>{{ post.author.first_name }} {{ post.author.last_name }}</span></div></a>
                        <div class="date meta-last"><i class="icon-clock"></i>{{ post.created_at | timesince }} ago</div>
                        <!--                        <div class="comments meta-last"><i class="icon-comment"></i>12</div>-->
                    </footer>
                </div>
            </div>
            {% endfor %}

        </div>


        <!-- Pagination -->
        {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-template d-flex justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="btn btn-outline-primary" href="?page=1">First</a></li>
                <li class="page-item"><a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}

                {% if page_obj.number == num %}
                <li class="page-item"><a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</main>

{% include 'blog/inc/sidebar.html' %}

{% endblock content %}
