{% extends 'blog/base.html' %}

{% block content %}
<!-- Latest Posts -->
<main class="post blog-post col-lg-8">
    <div class="container">
        <div class="post-single">
            <div ><img src="{{ object.image.url }}" width="700" alt="..." class="img-fluid"></div>
            <div class="post-details">
<!--                <div class="post-meta d-flex justify-content-between">-->
<!--                    <div class="category"><a href="#">Business</a><a href="#">Financial</a></div>-->
<!--                </div>-->
                <h1>{{ object.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ object.author.profile.image.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ object.author.username }}</span></div></a>
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="date meta-last"><i class="icon-clock"></i> {{ object.created_at | timesince }} ago</div>
<!--                        <div class="views"><i class="icon-eye"></i> 500</div>-->
<!--                        <div class="comments meta-last"><i class="icon-comment"></i>12</div>-->
                    </div>
                </div>
                <div class="post-body">
                  {{ object.content }}
                </div>

            </div>

        </div>
    </div>
</main>
{% include 'blog/inc/sidebar.html' %}
{% endblock %}